
@model List<StoreComputer.Models.NhaCungCap>

@{
    ViewBag.Title = "DanhSachNhaCungCap";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Danh Sách Nhà Cung Cấp Cần Tìm</h2>



<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <h6 class="m-0 font-weight-bold text-primary">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="~/Admin/CreateNCC" class="btn btn-success"> Thêm Nhà Cung Cấp</a>
                        </div>
                </h6>
                <form action="~/Admin/timKiemNCC" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group"> 
                        <input type="type" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." required
                               name="SearchString" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã Nhà Cung Cấp</th>
                            <th>Tên Nhà Cung Cấp</th>
                            <th>Địa Chỉ</th>
                            <th>Số Điện Thoai</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@item.maNCC</td>
                                <td>@item.tenNCC</td>
                                <td>@item.diaChi</td>
                                <td>@item.soDienThoai</td>
                                <td>
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">

                                                <a href="~/Admin/editNCC?id=@item.maNCC" class="btn btn-success"> <i class="fa fa-plus"></i> </a>
                                                <a href="~/Admin/DetailNCC?id=@item.maNCC" class="btn btn-info"> <i class="fa fa-info"></i> </a>
                                                <a href="~/Admin/DeleteNCC?id=@item.maNCC" class="btn btn-danger"> <i class="fas fa-trash"></i> </a>
                                            </div>
                                    </h6>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>