
@{
    ViewBag.Title = "GuiPhieuHoTro";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row" style=" height: 200px; text-align: center; margin-top: 5rem; color: red;">
    <div class="col-md-12">
        <h2>Gửi phiếu hỗ trợ thành công. Vui lòng đợi nhân viên liên hệ!</h2>
    </div>
</div>

