
@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row" style=" height: 200px; text-align: center; margin-top: 5rem; color: red;">
    <div class="col-md-12">
        <h2>Chúc mừng bạn đã mua hàng thành công!</h2>
    </div>
</div>

