CREATE DATABASE StoreComputer
USE [StoreComputer]
GO
/****** Object:  Table [dbo].[ChiTietDatHang]    Script Date: 12/9/2023 4:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatHang](
	[maHD] [int] NOT NULL,
	[maHang] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[ngayDatHang] [date] DEFAULT GETDATE(),
	[thanhTien] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatHang]    Script Date: 12/9/2023 4:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatHang](
	[maHD] [int] IDENTITY(1,1) NOT NULL,
	[maKH] [int] NULL,
	[tenKhachHang] [nvarchar](30) NULL,
	[sdtKhachHang] [nvarchar](13) NULL,
	[diaChi] [nvarchar](50) NULL,
	[ghiChu] [nvarchar](1000) NULL,
	[soLuong] [int] NULL,
	[ngayDatHang] [date] DEFAULT GETDATE(),
	[tongTien] [float] NULL,
	[ptThanhToan] [nvarchar](50) NULL,
	[tinhtrangThanhToan] [nvarchar](50) NULL,
	[tinhtrangDonHang] [nvarchar](50) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 12/9/2023 4:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[maHang] [int] IDENTITY(1,1) NOT NULL,
	[maLoai] [int] NOT NULL,
	[maNCC] [int] NOT NULL,
	[tenHang] [nvarchar](30) NOT NULL,
	[ngayNhap] [date] NOT NULL,
	[giaMoi] [float] NOT NULL,
	[giaCu] [float] NOT NULL,
	[soLuong] [int] NOT NULL,
	[hinhAnh] [nvarchar](1000) NULL,
	[moTa] nvarchar(4000) NOT NULL,
	[maTaChiTiet] nvarchar(4000) NOT NULL,
	[giamGia] [nvarchar](10) NULL,
	[trangThaiSP] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[maHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
)
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/9/2023 4:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [int] IDENTITY(1,1) NOT NULL,
	[tenKH] [nvarchar](30) NOT NULL,
	[diaChi] [nvarchar](500) NOT NULL,
	[soDienThoai] [nvarchar](13) NOT NULL,
	[taiKhoan] [nvarchar](30) NOT NULL,
	[matKhau] [nvarchar](1000) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 12/9/2023 4:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[maLoai] [int] NOT NULL,
	[tenLoai] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LoaiHang] PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 12/9/2023 4:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNCC] [int] IDENTITY(1,1) NOT NULL,
	[tenNCC] [nvarchar](30) NOT NULL,
	[diaChi] [nvarchar](20) NOT NULL,
	[soDienThoai] [nvarchar](13) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[maNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/9/2023 4:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[hoTen] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TuVanKH]    Script Date: 12/9/2023 4:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuVanKH](
	[maTV] [int] IDENTITY(1,1) NOT NULL,
    [maKH] [int] NULL,
	[tenKH] [nvarchar](50) NULL,
	[soDienThoai] [varchar](20) NULL,
	[email] [nvarchar](50) NULL,
	[kieuTuVan] [nvarchar](50) NULL,
	[loiNhan] [nvarchar](1000) NULL,
	[tinhTrang] [nvarchar] (50) NULL,
CONSTRAINT [PK_TuVanKH] PRIMARY KEY CLUSTERED 
(
	[maTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDatHang] ([maHD], [maHang], [soLuong], [ngayDatHang], [thanhTien]) VALUES (5, 6, 3, NULL, 22990000)
INSERT [dbo].[ChiTietDatHang] ([maHD], [maHang], [soLuong], [ngayDatHang], [thanhTien]) VALUES (6, 12, 3, NULL, 4199000)
INSERT [dbo].[ChiTietDatHang] ([maHD], [maHang], [soLuong], [ngayDatHang], [thanhTien]) VALUES (7, 7, 2, NULL, 18990000)
GO
SET IDENTITY_INSERT [dbo].[DatHang] ON 

SET IDENTITY_INSERT [dbo].[DatHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HangHoa] ON 

SET IDENTITY_INSERT [dbo].[HangHoa] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([maKH], [tenKH], [diaChi], [soDienThoai], [taiKhoan], [matKhau], [Email]) VALUES (3, N'Đỗ Xuân Hoàng', N'250 Hoa Lư Quận Phú Nhuận', N'0938388445', N'hoang123', N'202cb962ac59075b964b07152d234b70', N'hoang@gmail.com')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[LoaiHang] ([maLoai], [tenLoai]) VALUES (1, N'Laptop')
INSERT [dbo].[LoaiHang] ([maLoai], [tenLoai]) VALUES (2, N'Bàn Phím & Chuột')
INSERT [dbo].[LoaiHang] ([maLoai], [tenLoai]) VALUES (3, N'Màn Hình')
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [diaChi], [soDienThoai]) VALUES (8, N'ASUS', N'130 Điện Biên Phủ', N'0938123456')
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [diaChi], [soDienThoai]) VALUES (9, N'Acer', N'150 Đồng Nai', N'0908457764')
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [diaChi], [soDienThoai]) VALUES (10, N'Gigabyte', N'123 Đà Nẵng', N'0989765894')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [hoTen]) VALUES (N'admin', N'admin', N'Phan Duy Lộc')
GO
ALTER TABLE [dbo].[ChiTietDatHang]  WITH NOCHECK ADD  CONSTRAINT [FK_ChiTietDatHang_DatHang] FOREIGN KEY([maHD])
REFERENCES [dbo].[DatHang] ([maHD])
GO
ALTER TABLE [dbo].[ChiTietDatHang] CHECK CONSTRAINT [FK_ChiTietDatHang_DatHang]
GO
ALTER TABLE [dbo].[ChiTietDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatHang_HangHoa] FOREIGN KEY([maHang])
REFERENCES [dbo].[HangHoa] ([maHang])
GO
ALTER TABLE [dbo].[ChiTietDatHang] CHECK CONSTRAINT [FK_ChiTietDatHang_HangHoa]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_LoaiHang] FOREIGN KEY([maLoai])
REFERENCES [dbo].[LoaiHang] ([maLoai])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_LoaiHang]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_NhaCungCap] FOREIGN KEY([maNCC])
REFERENCES [dbo].[NhaCungCap] ([maNCC])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_NhaCungCap]
GO
ALTER TABLE [dbo].[DatHang] WITH CHECK ADD CONSTRAINT [FK_KhachHang_DatHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[TuVanKH] WITH CHECK ADD CONSTRAINT [FK_KhachHang_TuVanKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO